certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
Naked==0.1.31
py==1.10.0
pycrypto==2.6.1
pycryptodome==3.9.9
pytz==2020.5
PyYAML==5.3.1
redo==2.0.4
requests==2.25.1
retry==0.9.2
shellescape==3.8.1
urllib3==1.26.2
setuptools~=51.1.1
google~=3.0.0
six~=1.0
